papers/ashby-PrinciplesofSelf-Organization.pdf
papers/Comfort (1994) Self-Organization in Complex Systems.pdf
papers/mele-et-al-2010-a-brief-review-of-systems-theories-and-their-managerial-applications.pdf
papers/Heylighen comm groups.pdf
